[Unit]
Description="Regenerate chunks and embeddings for the docs"

[Service]
User=buster
Type=oneshot
ExecStart=/buster/scripts/acquire.sh

[Install]
WantedBy=multi-user.agent
