[Unit]
Description="Run Buster's web interface"
After=network.target

[Service]
User=buster
Type=simple
ExecStart=/buster/code/scripts/web-interface.sh
Restart=always

[Install]
WantedBy=multi-user.target
